.letter_tile {
    /* display: inline-block; */
    background-color: #eef;
    font-size: 46pt;
    height: 1.2em;
    width: 0.8em;
    padding: 0.2em;
    padding-bottom: 0.05em;
    margin: 0.1em;
    border-radius: 0.1em;
    text-align: center;
    font-family: sans-serif;
    filter: drop-shadow(0 0 0.2rem #0003);
    display: flex;
    align-items: center; /* vertically-center text */
    justify-content: center;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #eef;
    font-size: 20pt;
}

#word {
    margin-top: 1em;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
}

#result {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 1em;
}

#result.correct {
    background-color: #383;
    color: #dfd;
}

#result.incorrect {
    background-color: #833;
    color: #fdd;
}

#history {
    overflow-y: scroll;
    max-height: 50%;
    display: inline-block;
    text-align: left;
    margin: 1em;
}

.history_entry {
    display: flex;
    flex-direction: horizontal;
}

.history_entry .correctness{
    width: 1em;
    display: inline-block;
}

.history_entry.h_correct .correctness{
    color: #131;
}

.history_entry.h_incorrect .correctness{
    color: #311;
}

.history_entry .word {
    display: inline-block;
    font-family: monospace;
    margin-left: 0.2em;
}

.history_entry.h_valid .word{
    color: #383;
}

.history_entry.h_invalid .word{
    color: #833;
}

.history_entry .definition {
    display: flex;
    align-items:center; /* vertically-center text */
    font-size: 16pt;
    margin-left: 1em;
}

#controls {
    position: fixed;
    bottom: 0;
    padding-bottom: 0.5em;
    height: 1.5em;
    padding-top: 0.5em;
    width: 100%;
    background-color: #fafaff;
    filter: drop-shadow(0 0 0.1rem #0003);
    display: flex;
    align-content: space-between;
    align-items: center;
}

#control_buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#controls button {
    font-size: 20pt;
}

#successes {
    display: inline-block;
    margin-left: 2em;
}

#contents {
    height: 100%;
    width: 800px;
    max-width: 100%;
    display: inline-block;
    background-color: #fff;
    filter: drop-shadow(0 0 0.2rem #0003);
    overflow: hidden;
}
